@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #F9FAF8;
}

/* header section and nav bar*/


header {
  padding: 0 20px;
  background-color: #1F2937;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#logo a {
  color:#F9FAF8;
}

ul {
  font-size: 18px;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul a {
  color: #F9FAF8;
  font-size: 18px;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

@media (min-width) {
  .container, .header {
    max-width: 960;
  }padding: 2rem;
}

/* hero section ----------------------------*/

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
}

section p {
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  background-color:#1F2937;
}

.container {
  height: 400px;
  max-width: 1200px;
  background-color:#1F2937;
  color: #F9FAF8;
  border: 1px solid white;
  padding:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divider {
  box-sizing: border-box;
  padding: 3vw; 
  /* set media query for max size to stop divier growing*/
  width: auto;
  border: 1px solid white;
}

.hero-left {
  display: flex;
  flex-direction: column;
}

.button {
  max-width: 10rem;
  padding-top: 1em;
  align-self: center;
}

button {
  height: 2rem;
  width: 8rem;
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 #F9FAF8;
  border: none;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.2px;
  background-color: #3882f6;
  color: #F9FAF8;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

