@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #1F2937;
}

/* header section and nav bar*/

header {
  padding: 0 20px;
  background-color: #1F2937;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#logo a {
  color:#F9FAF8;
}

ul {
  font-size: 18px;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul a {
  color: #F9FAF8;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

/* hero section */

.container {
  height: 300px;
  width: ;
  background-color:#1F2937;
  color: #F9FAF8;
  border: 1px solid white;
  padding:20px;
  display: flex;
  justify-content: space-between;

}

.hero-left {
  border: 1px solid white;
  width: calc 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.hero-second {
  margin-top: 25px;
  margin-right: 100px;
}