@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #F9FAF8;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

/* header section and nav bar*/

#container {
  padding: 0 20px;
  background-color: #1F2937;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 1280px;
}

/*.divider1 {
  border: 1px solid white;
  width: 665.9px;
}*/

header {
  display: flex;
  padding: 0;
  background-color: #1F2937;
  height: 50px;
  justify-content: center;
}

header a {
  text-decoration: none;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#logo a {
  color:#F9FAF8;
}

ul {
  font-size: 18px;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul a {
  color: #F9FAF8;
  font-size: 18px;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #1F2937;
  height: 400px;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

@media (min-width) {
  .container, .header {
    max-width: 960;
  }
}

/* hero section ----------------------------*/

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
}

.test {
  background-color:#e5e7eb;

}

.hero p {
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  background-color:#1F2937;
}

.container {
  height: auto;
  max-width: 1280px;
  padding: 0 20px;
  display: flex;
}

.hero-container {
  background-color:#1F2937;
  color: #F9FAF8;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.test-container, .test-head {
  background-color:#e5e7eb;
  font-size: 24px;
  color: #1f2937;
  flex-direction: column;
}


.test-quote {
  font-weight: 300;
  font-style: italic;
}

.test-wrap {
  height: 300px;
}

.quotes {
  display: flex;
  justify-content: space-evenly;
}

.quote1, .quote2, .quote3 {
  max-width: 150px;
  max-height: 150px;
  border: 3px solid #1F2937;
  margin: 10px;
}

.quotes p {
  width: 75px;
  height: 75px;
padding: 10px;
}


.hero-left {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 0;
  justify-content: space-between;
  max-width: 736px;
  flex-shrink: 3;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  display: flex;
  width: 450px;
  height: auto;
}

.info-image {
  display: block;
  max-width: 300px;
  height: auto;
  flex-direction: column;
  padding: 10px;
}

.info img {
  border: 5px solid #3882f6;
  border-radius: 0.3em;
}



.button {
  max-width: 10rem;
  padding-top: 1em;
  justify-self: end;
}

button {
  height: 2rem;
  width: 8rem;
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 #F9FAF8;
  border: none;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.2px;
  background-color: #3882f6;
  color: #F9FAF8;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  opacity: 0.8;
  color:#F9FAF8;
  text-decoration: none;
}

/* information section */

.info h2, .test h3 {
  font-weight: 800;
  font-size: 36px;
}

.info {
  color: #1F2937
}

/*.divider {
  box-sizing: border-box;
  padding: 3vw; 
  width: auto;
  border: 1px solid white;
}

.hero-left, .container, .image {
  border: 1px solid white;
}

#container {
  border: 1px solid white;
}

